@charset "UTF-8";
* {
    margin: 0 auto;
    padding: 0;
}

html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    max-width: 1080px;
    position: relative;

    background-color: #143b58;
    font-size: medium;
    font-family: sy-medium, '微软雅黑', sans-serif;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    background-image: url("https://1heng-files.oss-cn-beijing.aliyuncs.com/images/1%E9%A6%96%E9%A1%B5_slices/bg.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    /*开启3d渲染，硬件加速*/
    /*-webkit-transform-style:preserve-3d;
    -webkit-backface-visibility:hidden;
    -webkit-transform:translate3d(0,0,0);*/
}

#slogan {
    width: 1080px;
    height: 314px;
    position: absolute;
    left: 0;
    top: 33px;
    z-index: 10;
}

#tiger {
    width: 1080px;
    height: 1104px;
    position: absolute;
    top: 289px;
    left: 0;
}

#rule {
    font-size: 49px;
    position: absolute;
    left: 445px;
    top: 1417px;
    color: #ffffff;
    font-family: sy-medium;;
}

#rule-line-left {
    border: 1.5px solid rgba(139, 29, 50, 1);
    box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.43);
    position: absolute;
    left: 67px;
    top: 1438px;
    width: 331px;
}

#rule-line-right {
    border: 1.5px solid rgba(139, 29, 50, 1);
    box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.43);
    position: absolute;
    left: 682px;
    top: 1438px;
    width: 331px;
}

#rule-total {
    position: absolute;
    left: 93px;
    top: 1508px;
    width: 851px;
    height: 292px;
    font-size: 30px;
    font-family: sy-medium;
    font-weight: 500;
    color: rgba(255, 255, 255, 1);
    line-height: 45px;
    padding-left: 44px;
}

#nowClick {
    position: absolute;
    left: 320px;
    top: 1032px;
    width: 441px;
    height: 185px;
}

#nowClick:hover {
    cursor: pointer;
}

#light {
    position: absolute;
    left: 115px;
    top: 606px;
    width: 859px;
    height: 422px;
}

.num {
    width: 188px;
    height: 188px;
    background: url(../images/1首页_slices/奖品列表.png) center 0 repeat-y;
    margin: 0 30px;
    background-size: 100%;
    transition-property: background-position-y;
    transition-timing-function: cubic-bezier(0.6, 0.1, 0.15, .9);

}

.num1 {
    transition-delay: 0s;
    transition-duration: 3s;
}

.num2 {
    transition-delay: 0.3s;
    transition-duration: 4s;
}

.num3 {
    transition-delay: 0.6s;
    transition-duration: 5s;
}

.circle {
    position: absolute;
    left: 79px;
    width: 44px;
    height: 44px;
}

#circle1 {
    top: 1511px;
}

#circle2 {
    top: 1612px;
}

#circle3 {
    top: 1711px;
}

#circle4 {
    top: 1764px;
}

.circle-nums {
    position: absolute;
    left: 93px;
    font-size: 30px;
    color: #9A0415;
    font-family: sy-medium;
}

#circle-num1 {
    top: 1512px;
}

#circle-num2 {
    top: 1612px;
}

#circle-num3 {
    top: 1712px;
}

#circle-num4 {
    top: 1765px;
}

#up-down {
    display: flex;
    margin-bottom: 30px;
    width: 744px;
    position: absolute;
    left: 172px;
    top: 726px;
}

#go {
    z-index: 20;
}


/**
等设计给字体文件之后再调节
 */
ol {
    list-style-type: none
}

ol li {
    list-style-position: outside;
    line-height: 50px;
}

#alert-window {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 30;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.7);
    display: none;
}

#blackboard {
    position: absolute;
    left: 90px;
    top: 273px;
    width: 898px;
    height: 1216px;
}

#x-light {
    position: absolute;
    left: 0px;
    top: 58px;
    width: 1080px;
    height: 1159px;
}

#celebrate {
    position: absolute;
    left: 422px;
    top: 609px;
    width: 247px;
    height: 48px;
    font-size: 49px;
    font-family: sy-medium;
    color: rgba(255, 255, 255, 1);
    font-weight: 500;
    line-height: 40px;
}

#in-board {
    position: absolute;
    left: 280px;
    top: 696px;
    width: 534px;
    height: 450px;
}

#real-prize {
    position: absolute;
    left: 347px;
    top: 726px;
    width: 400px;
    height: 320px;
}

#prize-name {
    position: absolute;
    left: 0px;
    top: 1085px;
    width: 100%;
    font-size: 36px;
    font-family: sy-medium;
    font-weight: 500;
    color: rgba(255, 255, 255, 1);
    line-height: 40px;
    text-align: center;
    margin-left: 5px;
}

#button-ikonw {
    position: absolute;
    left: 283px;
    top: 1157px;
    width: 527px;
    height: 249px;
}

#font-iknow {
    position: absolute;
    left: 0;
    top: 1230px;
    width: 100%;
    padding-left: 20px;
    text-align: center;
    color: rgba(193, 42, 33, 1);
    font-family: sy-bold;
}

#font-iknow #span1 {
    font-size: 60px;
}

#font-iknow #span2 {
    font-size: 40px;
}

#call {
    position: absolute;
    left: 367px;
    top: 1395px;
    font-size: 30px;
    font-family: sy-medium;
    font-weight: 500;
    color: rgba(255, 255, 255, 1);
    line-height: 40px;
}


#mrq {
    width: 843px;
    margin: 20px auto;
    border: 1px solid #000;
    padding: 2px;
    position: absolute;
    left: 119px;
    top: 347px;
    border-radius: 18px
}

#Marquee_x {
    overflow: hidden;
    width: 843px;
    border-radius: 18px;
}

#Marquee_x ul li, #Marquee_x ul li div {
    float: left;
    line-height: 25px;
    overflow: hidden
}

/* 横向滚动必须让所有li左浮动 */
#Marquee_x ul li div {
    margin: 0 0 10px 10px;
    float: left;
    line-height: 25px;
    height: 200px;
    width: 200px;
    overflow: hidden;
    border: #d9afc2 1px solid;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 0px 5px #5f051b inset;
}

#Marquee_x ul li div img {
    border: 1px solid #DADADA;
    width: 160px;
    height: 130px;
    display: block;
}

#Marquee_x ul li div span {
    display: block;
    text-align: center;
    color: rgba(110, 61, 29, 1);
    line-height: 40px;
    font-size: 18px;
    font-family: sy-regular;
    font-weight: 400;
}

#n {
    margin: 10px auto;
    width: 920px;
    border: 1px solid #CCC;
    font-size: 12px;
    line-height: 30px;
}

#n a {
    padding: 0 4px;
    color: #333
}

/*@font-face {*/
/*    font-family: sy-medium;*/
/*    src: url("../font/SourceHanSansCN-Medium.otf");*/
/*}*/

/*@font-face {*/
/*    font-family: sy-bold;*/
/*    src: url("../font/SourceHanSansCN-Bold.otf");*/
/*}*/

/*@font-face {*/
/*    font-family: sy-regular;*/
/*    src: url("../font/SourceHanSansCN-Regular.otf");*/
/*}*/
